#menuv {
 position:relative;
 padding:14px;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 2em;
 color: #008000;
 border:1px solid #eeefff;
}

/* Properties for TOP horizontal menu; top menu items only */
#menuv > li {
  float:left;
  margin:6px; /* space between top menu items  */
  border:0px solid navy;
  background-color:#eeefff;
  padding:8px;
  list-style-type:none;
  font-weight:600;
  text-align:left;
}
/* top menu HOVER keyboard only */
#menuv > .olishow {
 background-color: #cccfff;
 text-decoration:none;
 border:0px red solid;
 color: #e60000;
}
/* top menu hover for keyboard onlyl */
#menuv > .olishow > a {
  color:#e60000;
  text-decoration:none;
}

/* top menu only for items with no submenu */
#menuv > li.oli > a,
#menuv > li.oli > a:link,
#menuv > li.oli > a:active,
#menuv > li.oli > a:visited {
  padding: 9px 0px 8px 0px; /* top, right, botom, left */
  text-decoration:none;
  color: #008000;
}

/* top menu hover for items with no submenu, for mouse only */
#menuv > li.oli > a:hover, #menuv > li.oli:hover {
  background-color: #cccfff;
  color: #e60000;
}

  /* Properties for vertical menu */
#menuv .oli ul, #menuv .olishow  ul {
 display:none;
 position:absolute;
 margin:8px auto auto -8px; /*top, right, bottom, left  */
 border:0px solid red;
 padding:0px;
 color: #e60000;
}
/*  items inside vertical summenu */
#menuv>li>ul>li {
  position:relative;
  clear:both;
  width:100%;
  margin:0px 0;
  border-bottom:0px solid #ccc;
  padding:0px;
  display:block;
}

/* Submenu block */
#menuv li:hover ul, #menuv .olishow ul {
  display:block;
}

  /* Links in sub-menu */
#menuv ul li a {
  display:block;
  background-color:#eeefff;
  color:#008000;
  font-weight:normal;
  padding:4px;
  text-decoration:none;
}

#menuv ul li a:hover, #menuv ul .vlishow a {
 background-color:#cccfff;
 text-decoration:none;
 color:#e60000;
}

